/* @import url('prism-themes/themes/prism-darcula.css'); */
/* @import url('prism-themes/themes/prism-dracula.css'); */
/* @import url('prism-themes/themes/prism-one-dark.css'); */
/* @import url('prism-themes/themes/prism-xonokai.css'); */
/* @import url('prism-themes/themes/prism-nord.css'); */
@import url('@fontsource/noto-sans');
@import url('@fontsource/noto-sans-thai');
@import url('prism-themes/themes/prism-one-light.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* prettier-ignore */
@layer base {

	html {
		font-family: 'Noto Sans', 'Noto Sans Thai', 'Sukhumvit Set', Arial, Helvetica, sans-serif;
	}
	/* h1 { @apply font-bold text-xl md:text-3xl;}
  h2 { @apply font-bold text-lg md:text-2xl;}
  h3 { @apply font-bold text-lg md:text-xl;}
  h4 { @apply font-bold text-lg md:text-lg;} */
}

@layer components {
	/* .container {
		width: min(100% - 2rem, 700px);
		margin-left: auto;
		margin-right: auto;
	} */
}
